.problem {
    transition: problem-shadow .5s;
}
.problem:hover {
    box-shadow: 0 0 8px rgba(11,11,11,.2);
    cursor: pointer;
}

.language-selector {
    transition: all .3s;
}

.language-selector:hover {
    transform: rotate(45deg);
    cursor: pointer;
}

.rotating {
    transition: all .3s;
}

.rotating:hover {
    transform: rotate(180deg);
}

.btn-fix {
    padding: 0;
    border: none;

    white-space: normal;
}

